<div class="contenido-centrado">
  <div class="modal-box">
    <h1 class="titulo has-text-weight-semibold">
      Editar tarea
    </h1>
    <div>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input name="nombre" id="nombre" class="input" type="text" placeholder="Comprar ingredientes...">
        </p>
      </div>

      <div class="buttons is-right">
        <input type="submit" class="button btn" value="Actualizar" (click)="editarTarea()">
        <button class="button btn" routerLink="/">Cancelar</button>
      </div>
    </div>
  </div>
</div>
