<div class="contenido-centrado">
  <div class="modal-box">
    <h1 class="titulo has-text-weight-semibold">
      Crear una nueva Tarea
    </h1>
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input id="nombre" class="input" type="text" placeholder="Un kilogramo de azu...">
      </p>
    </div>

    <div class="buttons is-right">
      <button class="button btn" (click)="crearTarea()">Crear</button>
      <button class="button btn" routerLink="/">Cancelar</button>
    </div>
  </div>
</div>
